* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin: 5rem 0; /* TODO: adjust later when calculator is finished */
}

.calculator {
    background-color: #59b09b;
    width: 32rem;
    height: 40rem;
    
    padding: 1.5rem;

    border-radius: 0.2rem;
    box-shadow: 0.3rem 0.3rem #348672;

    display: flex;
    flex-direction: column;
}

.calculator__display {
    background-color: #cbfed8;

    height: 6rem;
    padding: 1rem;
    border-radius: 0.2rem;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.calculator__display__field {
    font-size: 3.9rem;
}