* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    justify-content: center;
    margin: 5rem 0; /* TODO: adjust later when calculator is finished */
}

.calculator {
    background-color: hsl(0, 0%, 50%);
    width: 32rem;
    height: 40rem;

    border-radius: 0.2rem;
    box-shadow: 0.3rem 0.3rem hsl(0, 0%, 23%);
}